/* 
    1. Mеняем поведение box-model 
*/
* {
    box-sizing: border-box;
}

/* 
    1. Задаем минимальную высоту экрана в 120% от высоты экрана пользователя, чтобы появился скролл по оси Y 
    2. Обнуляем отсупы по умолчанию в body
    3. Задаем шрифт и цвет текста всему макету
    4. Затем выравниваем текст внутри контейнеров также по всему макету 
*/
body {
    min-height: 120vh;
    margin: 0;
    font-family: "Inconsolata", monospace;
    text-align: center;
    color: antiquewhite;
}

/* 
    1. Задаем свойство position: relative --> чтобы точка отсчета позиционирования для дочернего элемента
    начиналась с него
    2. Ширину и высоту на весь вьюпорт пользователя (обратите внимания что ширина в %)
    3. С помощью flex выравниваем по середине дисплея по осям X и Y
    4. Задаем свойство overflow: hidden чтобы за пределы блока у нас не вылазили элементы
*/
section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* 
    1. Создаем псевдоэлемент :before 
    2. Позиционируем его относительно родителя(это section) со свойством position: relative 
    3. Прижимаем псевдоэлемент к низу блока и отодвигаем его вправо на половину дисплея
    4. Задаем высоту и ширину (обратите внимание ширина в vw)
    5. Закрашиваем наш блок и делаем его кругом
    6. Применяем transform-origin: bottom; чтобы точка отсчета нашей трансормации начиналась от нижнего
    края блока
    7. transform: scale(4) --> увеличиваем размер нашего элемента в 4 раза от исходного значения
    8. transform: translateX(-50%) --> сдвигаем по оси X его влево на 50% (то есть сдвиг идет не 
    относительно родителя а относительно самого элемента)
*/
section:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100vh;
    height: 100vh;
    background: #008dff;
    border-radius: 50%;
    transform-origin: bottom;
    transform: translateX(-50%) scale(4);
}

/* 
    1. Задаем position: relative; чтобы вырвать из потока
    2. Затем z-index: 1; чтобы текст был над нашей секцией и псевдоэлементом :before
    3. Устанавливаем максимальную ширину для контента
*/
.content {
    position: relative;
    z-index: 1;
    max-width: 960px;
}

/* 
    1. Финальный этап --> стилизуем контент.
*/
h1 {
    font-size: 48px;
    font-weight: 300;
}

p {
    font-size: 18px;
    font-weight: 200;
}
